{% extends 'base.html.j2' %}
{% block title %}
    {{ bulletin_date.strftime("%d/%m/%Y") }} -
{% endblock %}
{% block content %}
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Bulletin for {{ bulletin_date.strftime("%A the %dth of %B %Y") }}</h1>
            </div>
        </div>
        <div class="list-group">
            {% if viewing_early %}
                <div class="d-flex w-100 justify-content-between alert alert-warning">
                    Warning: You are viewing an early version of the bulletin. It should not be considered final!
                </div>
                {% if bulletin_items|length == 0 %}
                    <div class="d-flex w-100 justify-content-between alert alert-primary">
                        This bulletin has no items. This is probally because it is early.
                    </div>
                {% endif %}
            {% else %}
                {% if bulletin_items|length == 0 %}
                    <div class="d-flex w-100 justify-content-between alert alert-primary">
                        This bulletin has no items. This is probally because it is not on a school day.
                    </div>
                {% endif %}
            {% endif %}
            {% for item in bulletin_items %}
                <div class="list-group-item bulletin-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ item["title"] }}</h5>
                        {# <small>3 days ago</small> #}
                    </div>
                    <p class="mb-1" id="{{ item['id'] }}Content">
                        {{ item["content"] }}
                    </p>
                    <small>{{ item["grades_string"]|safe }}</small>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.1/markdown-it.min.js" integrity="sha512-SYfDUYPg5xspsG6OOpXU366G8SZsdHOhqk/icdrYJ2E/WKZxPxze7d2HD3AyXpT7U22PZ5y74xRpqZ6A2bJ+kQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/markdown-it-attrs@4.1.3/markdown-it-attrs.browser.js" integrity="sha256-EnnRzUdnzlkGhULAfSrgIg7q1wm66nRo4i/eyXB8bxk=" crossorigin="anonymous"></script>-->
    <script>
        var markdownIt = window.markdownit()/*.use(window.markdownItAttrs, {
            leftDelimiter: '{',
            rightDelimiter: '}',
            allowedAttributes: ['class']  // empty array = all attributes are allowed
        })*/;
        function base64DecodeUnicode(str) {percentEncodedStr = atob(str).split('').map(function(c) {return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);}).join('');return decodeURIComponent(percentEncodedStr);}
        {% for item in bulletin_items %}
            document.getElementById("{{ item["id"] }}Content").innerHTML = markdownIt.render(base64DecodeUnicode("{{ base64_encode(item["content"].encode()).decode() }}"));
        {% endfor %}
        $(".bulletin-item").find("img").addClass("img-fluid");
    </script>
    #}
    <script src="https://unpkg.com/stackedit-js@1.0.7/docs/lib/stackedit.min.js" integrity="sha384=sLRzZkCy+/B2DXBh8ehQduKr+paQ4Y3RNSIEHvOtbWFSuPTrHEQ2UPrEK4bN9+Ff"></script>
    <script>
        function base64DecodeUnicode(str) {percentEncodedStr = atob(str).split('').map(function(c) {return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);}).join('');return decodeURIComponent(percentEncodedStr);}
        {% for item in bulletin_items %}
            const stackedit{{ item["id"] }} = new Stackedit();
            stackedit{{ item["id"] }}.openFile({
                content: { text: base64DecodeUnicode("{{ base64_encode(item["content"].encode()).decode() }}") }
            }, true /* silent mode */);
            stackedit{{ item["id"] }}.on('fileChange', (file) => {
                document.getElementById("{{ item["id"] }}Content").innerHTML = file.content.html;
                $(".bulletin-item").find("img").addClass("img-fluid");
            });
        {% endfor %}
    </script>
{% endblock %}
