{% extends 'base.html.j2' %}
{% block content %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Good morning, {{ user_info["first_name"] }}</h1>
            <a href="/bulletin?date={{ bulletins[0][0].strftime("%Y-%m-%d") }}"
               class="btn btn-primary btn-lg"
               type="button">View Latest Bulletin</a>
        </div>
    </div>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Older Bulletins</h2>
                <h2 class="d-flex">
                    <form action="/bulletin">
                        <div class="input-group mb-3">
                            <input type="date"
                                   class="form-control"
                                   placeholder="Filter by date"
                                   name="date">
                            <button type="submit" class="btn btn-primary">Go</button>
                        </div>
                    </form>
                </h2>
                <ul class="list-group">
                    {% for bulletin in bulletins %}
                        <a class="btn btn-primary list-group-item d-flex justify-content-between align-items-center"
                           href="/bulletin?date={{ bulletin[0].strftime("%Y-%m-%d") }}">
                            {{ bulletin[0].strftime("%A the %dth of %B %Y") }}
                            <span class="badge bg-primary rounded-pill">{{ get_age_from_time(bulletin[0]) }}</span>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>
                    My items <a href="https://example.com/" class="btn btn-primary" type="button">Create Item</a>
                </h2>
                <h2 class="d-flex">
                    <form action="/items">
                        <div class="input-group mb-3">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Filter by owner"
                                   name="filter">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </h2>
                <ul class="list-group">
                    <a class="btn btn-primary list-group-item d-flex justify-content-between align-items-center">
                        Lorem ipsum club
                        <span class="badge bg-primary rounded-pill">You own this</span>
                    </a>
                </ul>
            </div>
        </div>
    {% endblock %}
