{% extends 'base.html.j2' %}
{% block title %}Editing <span id="bulletinTitleInTitleTag">{{ item["title"] }}</span> -{% endblock %}
{% block content %}
    <div class="container">
        <!--
title text
content long text
notes long text
grades checkboxes 7,8,9,10
        -->
        <!--Title-->
        <div class="input-group mb-3">
            <span class="input-group-text" id="titleLabel">Title <a title="This means anyone at THS can see this field in it's entirety">(PUBLIC)</a></span>
            <input type="text"
                   class="form-control"
                   placeholder="Title"
                   aria-label="Title"
                   aria-describedby="titleLabel"
                   id="title">
        </div>
        <!--Content-->
        <div class="input-group mb-3">
            <span class="input-group-text" id="contentLabel">Content <a title="This means anyone at THS can see this field in it's entirety">(PUBLIC)</a></span>
            <textarea class="form-control auto-resize"
                      placeholder="Content"
                      aria-label="Content"
                      aria-describedby="contentLabel"
                      style="resize: none"
                      id="content"></textarea>
        </div>
        <!--Notes-->
        <div class="input-group mb-3">
            <span class="input-group-text" id="notesLabel">Notes <a title="Anyone who can edit this document - including admins - can see this">(EDITORS)</a></span>
            <textarea class="form-control auto-resize"
                      placeholder="Notes"
                      aria-label="Notes"
                      aria-describedby="notesLabel"
                      style="resize: none"
                      id="notes"></textarea>
        </div>
        <!--Grades-->
        <div class="input-group mb-3">
            <span class="input-group-text" id="gradesLabel">Grades <a title="This means anyone at THS can see this field in it's entirety">(PUBLIC)</a></span>
            <div class="form-control">
                {% for grade in bulletin_config.SUPPORTED_GRADES %}
                    <div class="form-check-inline">
                        <input class="form-check-input"
                               type="checkbox"
                               value="{{ grade }}"
                               id="grade{{ grade }}">
                        <label class="form-check-label" for="grade{{ grade }}">{{ grade }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!--Save-->
        <div class="input-group mb-3">
            <button type="button" class="btn btn-primary" id="saveButton">Save</button>
        </div>
    {% endblock %}
    {% block scripts %}
        <script src="https://cdn.jsdelivr.net/gh/azoff/AutoResize@4a3f3c8/jquery.autoresize.min.js" integrity="sha384-3X08TGY2WowzEpDvZJo32TimV75qUCS55P8QNJqHXNpVOddjNgiZDIXqaBdVMOhr" crossorigin="anonymous"></script>
        <script>
        $(document).ready(function () {
            $('.auto-resize').autoResize();
        });

        original_title = {{ item["title"]|tojson }};
        original_content = {{ item["content"]|tojson }};
        original_notes = {{ item["notes"]|tojson }};
        original_grades = {{ item["grades"]|tojson }};

        title.value = original_title;
        content.value = original_content;
        notes.value = original_notes;

        {% for grade in bulletin_config.SUPPORTED_GRADES %}
            {% if grade in item["grades"] or -1 in item["grades"] %}
                $('#grade{{ grade }}').prop('checked', true);
            {% endif %}
        {% endfor %}

        function selectedGrades() {
            var grades = [];
            {% for grade in bulletin_config.SUPPORTED_GRADES %}
                if ($('#grade{{ grade }}').prop('checked')) {
                    grades.push({{ grade }});
                }
            {% endfor %}
            return grades;
        }

        // save button send the original as well as the new data
        $('#saveButton').click(function () {
            $.ajax({
                url: '/api/item/edit/{{ item["id"] }}',
                type: 'POST',
                data: {
                    /*"old_data": {
                        "title": original_title,
                        "content": original_content,
                        "notes": original_notes,
                        "grades": original_grades
                    },*/
                    "title": JSON.stringify(title.value),
                    "content": JSON.stringify(content.value),
                    "notes": JSON.stringify(notes.value),
                    "grades": JSON.stringify(selectedGrades()),
                    "last_edit": {{ item["last_edit"]|tojson }}
                },
                success: function (data) {
                    alert("Success!");
                    console.log("Success! data:"+data);
                },
                error: function (data) {
                    alert("Error!");
                    console.log("Error, data:"+data);
                }
            });
        });

        </script>
    {% endblock %}
